body
h1{
   color:#78601f;
   font-size: 70px;
   font-family: 'Papyrus';
   }



h2{
	color:#876c23;
	font-size: 40px;
	font-family: 'Papyrus';
  }

ol, ul{	color:#5d851e;
	font-size: 30px;
	font-family: 'Papyrus';
}

.like:hover{
	background:#a3a86d
}

.fun{
	border-radius: 40%;
     animation-name: trans;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
}


@keyframes trans{
	0% {transform: translate(40px, 0px);}
	25%  {transform: translate(100px, 0px);}
	50%  {transform: translate(400px, 0px);}
	100%  {transform: translate(800px, 0px);} 
}

.fun2{
	border-radius: 40%;
    /* animation-name: transs;
	 animation-duration: 4s;
	 animation-iteration-count: infinite; */
}


@keyframes transs{
	0% {transform: translate(-30px, 0px);}
	25%  {transform: translate(30px, 0px);}
	50%  {transform: translate(-30px, 0px);}
	100%  {transform: translate(30px, 0px);} 
}

.fun3{
	border-radius: 40%;
     animation-name: transss;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
}


@keyframes transss{
	0% {transform: translate(-40px, 0px);}
	25%  {transform: translate(-100px, 0px);}
	50%  {transform: translate(-400px, 0px);}
	100%  {transform: translate(-800px, 0px);}
}

/*@keyframes rotation{
	0% {transform: rotate(45deg);}
	25% {transform: rotate(90deg);}
	50% {transform: rotate(135deg);}
	100% {transform: rotate(180deg);} */
}



	